__pycache__
*.egg-info
.vscode
.gradio
.claude
pyrightconfig.json

/models
/outputs
/diffsynth/data/images/*
/diffsynth/data/masks/*
/diffsynth/data/merged_masks/*
/diffsynth/data/object_models/*
/diffsynth/data/tar_recv/*
/diffsynth/data/training_masks/*
/diffsynth/data/training_images/*
/diffsynth/data/mano/*
